.add_task {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 50px;
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
  }
  .add_title {
    padding-left: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  .command_icon {
    background-color: #3e3e3e;
    padding: 10px 12px 4px 12px;
    border-radius: 30px;
  }
  .command_ico {
    background-color: #3e3e3e;
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 18px;
  }
}
.last_icon {
  position: fixed;
  bottom: 15px;
  right: 105px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.form {
  position: fixed;
  bottom: 100px;
}
